extends layout

block content

  div.card.mb-3
    div.row.no-gutters
      div.col-md-2
        img.card-img(src='/images/me.jpg')
      div.col-md-10
        div.card-body
          h5.card-title= title
          p.card-text First of all, I'm not rapper
          p.card-text Contact: marcosruizgarcia@gmail.com
          p.card-text
            small.text-muted Last of all, I'm not rapper
  div.col-12
    h5 My instagram
    div.row
      div.col-4
        include instagram/instagram2.html
      div.col-4
        include instagram/instagram1.html
      div.col-4
        include instagram/instagram3.html

