extends layout

block content

  div.card.bg-dark.text-white
    img.card-img.index-img(src="/images/kevin-mueller-iBER-hi4DyU-unsplash.jpg")
    div.card-img-overlay
      h5.card-title= title
      h1.card-text Welcome and enjoy!
      p.card-text Work in progress...
        div.progress
          div.progress-bar(role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")


