doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include navigation.pug

    main.flex-shrink-0(role="main")
      block content

    footer.footer.mt-auto.py-3
      div.container
        span.text-muted Contact: marcosruizgarcia@gmail.com

    script(type="text/javascript" src='/javascripts/jquery.min.js')
    script(type="text/javascript" src='/javascripts/popper.js')
    script(type="text/javascript" src='/javascripts/bootstrap.min.js')

