extends layout

block content
  div.container
    h5= title

    div.row
      div.col-md-4
        div.card
          img.card-img-top(src="/images/links/portainer.png" alt="Portainer")
          div.card-body
            h5.card-title Portainer
            p.card-text Portainer es un contenedor de Docker pensado para gestionar de manera gráfica todos los contenedores
            a.stretched-link.btn.btn-primary(href="http://192.168.1.2:9000") Ir a mi Portainer

      div.col-md-4
        div.card
          img.card-img-top(src="/images/links/transmission.png" alt="Transmission")
          div.card-body
            h5.card-title Transmission
            p.card-text Transmision es un gestor de torrents rápido y ligero
            a.stretched-link.btn.btn-primary(href="http://192.168.1.2:9091") Ir a mi Transmission

      div.col-md-4
        div.card
          img.card-img-top(src="/images/links/plex.jpg" alt="Plex")
          div.card-body
            h5.card-title Plex
            p.card-text Plex es un gestor de contenido de películas, series y música
            a.stretched-link.btn.btn-primary(href="http://192.168.1.2:32400") Ir a mi Plex

